<div class="kpi-container" *ngIf="kpiData">
    <div class="kpi-header">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M3 3v18h18" />
            <path d="m19 9-5 5-4-4-3 3" />
        </svg>
        <h3>Anonymization KPIs</h3>
    </div>

    <div class="kpi-content">
        <div class="kpi-main">
            <span class="label">k-Anonymity:</span>
            <span class="value">{{ kpiData.kAnonymity }}</span>
        </div>

        <ng-container *ngFor="let attr of kpiData.attributes; let first = first">
            <div class="kpi-divider"></div>
            <div class="attribute-group">
                <span class="attribute-name">{{ attr.displayName }}</span>
                <div class="attribute-row">
                    <span class="label">Type:</span>
                    <span class="value">{{ formatAnonymizationType(attr.anonymizationType) }}</span>
                </div>
                <div class="attribute-row" *ngIf="attr.nrBucketsUsed !== null">
                    <span class="label">Buckets:</span>
                    <span class="value">{{ attr.nrBucketsUsed }}</span>
                </div>
            </div>
        </ng-container>
    </div>
</div>